<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGGU Result</title>
    <style>
        * {
            background-color: rgb(44, 44, 44);
            color: #ffff;
        }

        h2 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h2>SGGU Declaration All Reslt Data</h2>
</body>

</html>